<div style="position: fixed; bottom: 10px; left: 10px; z-index:9999; background: white; padding: 10px; border: 1px solid #ccc;">
  <b>Légende :</b><br>
  <img src="templates/static/icons/freinage.png" width="24"> Freinage<br>
  <img src="templates/static/icons/dos_dane.png" width="24"> Dos d’âne<br>
  <img src="templates/static/icons/trottoir.png" width="24"> Trottoir<br>
  <img src="templates/static/icons/acceleration.png" width="24"> Accélération<br>
  <img src="templates/static/icons/nid_de_poule.png" width="24"> Nid de poule
</div>